/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-apr-2020, 16.35.56
    Author     : MrBario
*/

.jfx-tab-pane
{
-fx-padding: 1px;
-fx-background-color: cornflowerblue, -fx-control-inner-background;
-fx-background-insets: 0, 1;
-fx-text-fill: white;
}

.jfx-tab-pane .headers-region
{
-fx-background-color: cornflowerblue;
}

.jfx-tab-pane .tab-header-background
{
-fx-background-color: cornflowerblue;
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
-jfx-rippler-fill: white;
}

.jfx-tab-pane .tab-header-area .tab-selected-line
{
-fx-background-color: gold;
-fx-stroke: white;
}

.tab-label{
    -fx-text-fill: Black;
    -fx-font-weight: normal; 
    -fx-font-size: 16;
}



